@model UCABPagaloTodoWeb.Models.ModeloPagoPresta;

@{
    ViewData["Title"] = "Pagos";
    Layout = "_LayoutAdmin";
}
<head>
    <link rel="stylesheet" href="~/css/pagos.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.min.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap5.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Zilla+Slab:ital,wght@1,600&display=swap" rel="stylesheet">
</head>
<body class="menu_fondo"></body>
<!-- Mensaje Fallido -->
@if (TempData["ErrorMessage"] != null)
{
    <script>
        // Abre un cuadro de diálogo emergente con el mensaje de error
        alert('@TempData["ErrorMessage"]');
    </script>
}
<!-- Mensaje Exitoso -->
@if (TempData["MensajeExito"] != null)
{
    <div id="mensajeExito" class="alert alert-success">
        @TempData["MensajeExito"]
    </div>
}
    <div class="column has-text-centered">
        <br><br>
        <h2 id="title" class="subtitle is-2 has-text-centered has-text-weight-bold">Pagos realizados</h2>

        <form asp-action="PagoAdmin" asp-controller="Pago" method="post">
            <div class="fechas">
                <label id="textoFecha" for="Fech"> Fecha Inicio:</label>
                <input type="date" asp-for="Consulta.fechaInicio" placeholder="dd/MM/yyyy" required>
                <label id="textoFecha" for="Fech">Fecha Final:</label>
                <input type="date" asp-for="Consulta.fechaFin" placeholder="dd/MM/yyyy" required>
            </div>
            <div class="buscar">
                <input type="submit" class="btn btn-info" value="Buscar">
            </div>
        </form>
        <br>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row shadow-lg p-3 mb-5">
            <div class="col">
                <table id="tablaPagos" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th class="text-center">Servicio</th>
                            <th class="text-center">Consumidor</th>
                            <th class="text-center">Monto ($)</th>
                            <th class="text-center">Fecha de realización</th>
                            <th class="text-center">Estatus aprobación</th>
                            <th class="text-center">Estatus cierre</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var pago in Model.Pagos)
                            {
                                <tr>
                                    <td>@pago.Servicio</td>
                                    <td>@pago.Consumidor</td>
                                    <td>@pago.Monto</td>
                                    <td>@pago.Fecha</td>
                                    <td>@pago.Aprobado</td>
                                    <td>@pago.Cierre</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<script>
    // Obtener el elemento del mensaje
    var mensajeExito = document.getElementById("mensajeExito");

    // Ocultar el mensaje después de 3 segundos
    setTimeout(function () {
        mensajeExito.style.display = "none";
    }, 3000); // 3000 milisegundos = 3 segundos
</script>
    <script src="~/js/pagosPrestador.js"></script>

